# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# .NET 通用忽略规则

# 构建输出目录
**/bin/
**/obj/

# 生成的日志文件
*.log

# 用户特定的文件
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE 配置文件

# Rider 的配置和缓存文件夹
.idea/
*.sln.iml

# Rider 生成的临时文件
*.cache/
*.tmp/

# Visual Studio 相关文件
.vs/
*.vscode/

# MonoDevelop 忽略规则
*.pidb
*.userprefs

# 操作系统生成的文件

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# 其他常见的忽略文件
*.bak
*.backup
*.BLOB
*.Cache
*.ncb
*.opensdf
*.sdf
*.sln.cache
*.svclog
*.vspscc

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider 的日志和报告文件
*.rider/
*.history/

# NuGet
**/packages/
!**/packages/build/
!**/packages/repositories.config